@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
        .text-shadow-black {
          text-shadow: 2px 2px 4px black;
        }
        .text-shadow-md-black {
          text-shadow: 4px 4px 8px black;
        }
        .text-shadow-lg-black {
          text-shadow: 15px 15px 30px black;
        }
        .text-shadow-white {
          text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
        }
        .text-shadow-md-white {
          text-shadow: 4px 4px 8px white;
        }
        .text-shadow-lg-white {
          text-shadow: 15px 15px 30px white;
        }
        .text-shadow-none {
          text-shadow: none;
        }
    }
}